<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultGL240Settings" value="DefaultSetting" />
    <add key="LocalInfluxURL" value="http://localhost:8086" />
    <add key="LocalInfluxBucket" value="TestBucket" />
    <add key="LocalInfluxOrg" value="Learners" />
    <add key="LocalInfluxToken" value="VosIiWtf9r8_IqD30tu3H7H_5yrtebGXwc1R4Kc72igHBLlqodHnr6EWtsVN0edTrtC0ByhOt9a0sQaJ-UjBpA==" />
    <add key="SwiftInfluxURL" value="http://35.208.5.245:8086" />
    <add key="SwiftInfluxBucket" value="laminator-datalogger" />
    <add key="SwiftInfluxOrg" value="swift" />
    <add key="SwiftInfluxToken" value="FQwJbWHHTIwFDOdhG1VeXXySL5youmLQ4TYV40ZbKAp3wkZ6FponZS-xDzwn_jBzjZuhBdCQbZ-2dGmKSdSoMQ==" />
    <add key="PLCNetID" value="5.71.90.14.1.1" />
    <add key="TwinCATPort" value="851" />
    <add key="ToUseLocalInflux" value="No" />
  </appSettings>
</configuration>
